<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iogm</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header__logo">iogm | javascript</div>
        <div class="header__menu">
            <a href="#home">Home</a>
            <a href="#data">Data</a>
        </div>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>&copy; iogm 2023 . All right reservered</footer>

</body>

</html>